*{
    padding: 0;
    margin: 0;
    
}
body{
    background-image: url("https://66.media.tumblr.com/01570b0587e9335610b7d24625dcfc09/tumblr_pa0im667bJ1xv0ebao1_1280.jpg");
    background-size: cover;
}
#game{
    width: 400px;
    height: 500px;
    border: 8px solid gray;
    margin: auto;
    overflow: hidden;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: green;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
